@import "./components/stylingVariables";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.App{
  height: 4500px;
}

.IntroContainer, .SkillSetContainer{
  display:flex;
  margin-left: 5%;
  margin-top: 12%;
  width: 70%;
  color: $fontColour;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.SkillSetContainer{
  margin-top:10%;
  width: 90%
}

.Name{
  font-family: 'Gugi';
  font-size: 64px;
}

.IntroParagraph, .SkillSetList{
  font-family: 'Gugi';
  font-size: 32px;
  }

.ProjectsContainer{
  margin-top:20%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  color: $fontColour;
}

.VideoHolder{
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.videoDescription{
  font-family: 'Gugi';
  font-size: 20px;
  margin-left: 5%;
}

.VideoToShow{
  width: 3000px;
  height: 315px;
}

.projectTitle{
  margin-bottom: 1%;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {

  .IntroContainer {
    display: flex;
    width: 130%;
    margin-top: 40%;
    flex-direction: column;
  }

  .ProjectsContainer{
    margin-top:60%; 
    width: 130%;
    margin-left: 3%;
  }

  .VideoHolder{
    flex-direction: column;
  }

  .videoDescription{
    padding-bottom: 10%;
    padding-top: 5%;
    margin-left: 0;
  }

  .VideoToShow{
    width: 95%;
  }

  .SkillSetContainer{
    margin-top:30%;
  }

  .SkillSetContainer{
    width: 120%
  }
}

@media only screen and (max-width: 375px) {
  .Name{
    font-size: 32px;
  }
  
  .IntroParagraph{
    font-size: 20px;
  }

  .SkillSetList{
    font-size: 20px;
  }


}
