@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.App{
  height: 10000px;
}

.IntroContainer{
  display:flex;
  margin-left: 5%;
  margin-top: 12%;
  width: 70%;
}

.Name{
  font-family: 'Gugi';
  font-size: 64px;
}

.IntroParagraph{
  font-family: 'Gugi';
  font-size: 32px;
  }

.ProjectsContainer{
  margin-top:20%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.VideoHolder{
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.videoDescription{
  font-family: 'Gugi';
  font-size: 20px;
  margin-left: 5%;
}
