@import "./components/stylingVariables";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.App{
  height: 10000px;
}

.IntroContainer, .SkillSetContainer{
  display:flex;
  margin-left: 5%;
  margin-top: 12%;
  width: 70%;
  color: $fontColour;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.SkillSetContainer{
  margin-top:10%;
}

.Name{
  font-family: 'Gugi';
  font-size: 64px;
}

.IntroParagraph, .SkillSetList{
  font-family: 'Gugi';
  font-size: 32px;
  }

.ProjectsContainer{
  margin-top:20%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  color: $fontColour;
}

.VideoHolder{
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.videoDescription{
  font-family: 'Gugi';
  font-size: 20px;
  margin-left: 5%;
}
