$spacing: 5%;

.icon{
    margin: $spacing;
    width: 100px;
    border-radius: 10px;
}

.iconColumn{
    margin: $spacing/2;
}



.iconContainer{
    display:flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}