$spacing: 5%;

.icon{
    margin: $spacing;
    width: 100px;
    border-radius: 10px;
    height: auto;
}

.iconColumn{
    margin: $spacing/2;
    align-items: center;
}

.iconContainer{
    display:flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: -20%;
    align-items: center
}

@media only screen and (max-width: 600px) {

    .iconContainer{ 
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }

    .iconColumn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .icon{
        margin-left: 0;
        margin-right:20px;
    }
}

@media only screen and (max-width: 375px) {

    .icon{
        width: 60px;
    }

    
}