@import "stylingVariables";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.navBar{

  // fix navbar to top
  position: fixed;
  top: 0;
  display:flex;
  width: 100%;
  background-color: rgb(73, 14, 14);
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.navBarButtonContainer{
  margin-right: 1%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.navBarIconContainer{
  margin-left: 1%;
  width: 100%;
}

.navBarIcon{
  display: flex;
  width: 35px;
}

.navBarButton{
  color: $fontColour;
  font-size: 25px;
  font-family: 'Gugi';
  border: none;
  background: none;
  margin-left: 5%;

  display: inline-block;
  position: relative;

}

.navBarButton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $fontColour;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navBarButton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 1000px) {
  .navBarButton{
    font-size: 20px;
  }  

  .navBarIcon{
    margin-left: 2%;
  }
}

@media only screen and (max-width: 600px) {

  .navBarIcon{
    width: 25px;
  }

  .navBar{
    height: 40px;
  }

  .navBarButton{
    font-size: 18px;
  }  
}

@media only screen and (max-width: 375px) {

  .navBar{
    height: 30px;
  }


  .navBarButton{
    font-size: 13px;
    margin-left: 2%;
  }  

  .navBarIcon{
    width: 19px;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 250px) {

  .navBarButton{
    font-size: 13px;
    margin-left: 0.5%;
  }  

  .navBarButtonContainer{
    justify-content: center;
  }  

  .navBarIconContainer{
    display: none;
    visibility: hidden;
    width: 100%;
  }
}