@import "stylingVariables";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

#NavBar{

  // fix navbar to top
  position: fixed;
  top: 0;
  display:flex;
  width: 100%;

  justify-content: space-around;
  background-color: rgb(73, 14, 14);
  height: 50px;
  align-items: center;

}

.navBarButton{
  color: $fontColour;
  font-size: 25px;
  font-family: 'Gugi';
  border: none;
  background: none;

  display: inline-block;
  position: relative;

}

.navBarButton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $fontColour;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navBarButton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 1000px) {
  .navBarButton{
    font-size: 20px;
  }  
}

@media only screen and (max-width: 600px) {
  .navBarButton{
    font-size: 18px;
  }  
}

@media only screen and (max-width: 375px) {
  .navBarButton{
    font-size: 13px;
  }  
}