@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

#NavBar{

  // fix navbar to top
  position: fixed;
  top: 0;
  display:flex;
  width: 100%;

  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 25px;
  font-family: 'Gugi';
  height: 50px;
  align-items: center;

}